USE [gann]
GO
/****** Object:  UserDefinedFunction [dbo].[udfDecimal2BitString]    Script Date: 13/07/2020 07:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER FUNCTION [dbo].[udfDecimal2BitString]
(	
	@ID INT
)
RETURNS TABLE 
AS
RETURN 
(
SELECT [ID]
      ,[dbo].[TinyInt2BinaryString]([Tinyint1])     AS      [Tinyint1]
      ,[dbo].[TinyInt2BinaryString]([Tinyint2])    AS      [Tinyint2]
      ,[dbo].[TinyInt2BinaryString]([Tinyint3])    AS      [Tinyint3]
      ,[dbo].[TinyInt2BinaryString]([Tinyint4])    AS      [Tinyint4]
      ,[dbo].[TinyInt2BinaryString]([Tinyint5])    AS      [Tinyint5]
      ,[dbo].[TinyInt2BinaryString]([Tinyint6])    AS      [Tinyint6]
      ,[dbo].[TinyInt2BinaryString]([Tinyint7])    AS      [Tinyint7]
      ,[dbo].[TinyInt2BinaryString]([Tinyint8])    AS      [Tinyint8]
      ,[dbo].[TinyInt2BinaryString]([Tinyint9])    AS      [Tinyint9]
      ,[dbo].[TinyInt2BinaryString]([Tinyint10])    AS      [Tinyint10]
      ,[dbo].[TinyInt2BinaryString]([Tinyint11])    AS      [Tinyint11]
      ,[dbo].[TinyInt2BinaryString]([Tinyint12])    AS      [Tinyint12]
      ,[dbo].[TinyInt2BinaryString]([Tinyint13])    AS      [Tinyint13]
      ,[dbo].[TinyInt2BinaryString]([Tinyint14])    AS      [Tinyint14]
      ,[dbo].[TinyInt2BinaryString]([Tinyint15])    AS      [Tinyint15]
      ,[dbo].[TinyInt2BinaryString]([Tinyint16])    AS      [Tinyint16]
      ,[dbo].[TinyInt2BinaryString]([Tinyint17])    AS      [Tinyint17]
      ,[dbo].[TinyInt2BinaryString]([Tinyint18])    AS      [Tinyint18]
      ,[dbo].[TinyInt2BinaryString]([Tinyint19])    AS      [Tinyint19]
      ,[dbo].[TinyInt2BinaryString]([Tinyint20])    AS      [Tinyint20]
      ,[dbo].[TinyInt2BinaryString]([Tinyint21])    AS      [Tinyint21]
      ,[dbo].[TinyInt2BinaryString]([Tinyint22])    AS      [Tinyint22]
      ,[dbo].[TinyInt2BinaryString]([Tinyint23])    AS      [Tinyint23]
      ,[dbo].[TinyInt2BinaryString]([Tinyint24])    AS      [Tinyint24]
      ,[dbo].[TinyInt2BinaryString]([Tinyint25])    AS      [Tinyint25]
      ,[dbo].[TinyInt2BinaryString]([Tinyint26])    AS      [Tinyint26]
      ,[dbo].[TinyInt2BinaryString]([Tinyint27])    AS      [Tinyint27]
      ,[dbo].[TinyInt2BinaryString]([Tinyint28])    AS      [Tinyint28]
      ,[dbo].[TinyInt2BinaryString]([Tinyint29])    AS      [Tinyint29]
      ,[dbo].[TinyInt2BinaryString]([Tinyint30])    AS      [Tinyint30]
      ,[dbo].[TinyInt2BinaryString]([Tinyint31])    AS      [Tinyint31]
      ,[dbo].[TinyInt2BinaryString]([Tinyint32])    AS      [Tinyint32]
      ,[dbo].[TinyInt2BinaryString]([Tinyint33])    AS      [Tinyint33]
      ,[dbo].[TinyInt2BinaryString]([Tinyint34])    AS      [Tinyint34]
      ,[dbo].[TinyInt2BinaryString]([Tinyint35])    AS      [Tinyint35]
      ,[dbo].[TinyInt2BinaryString]([Tinyint36])    AS      [Tinyint36]
      ,[dbo].[TinyInt2BinaryString]([Tinyint37])    AS      [Tinyint37]
      ,[dbo].[TinyInt2BinaryString]([Tinyint38])    AS      [Tinyint38]
      ,[dbo].[TinyInt2BinaryString]([Tinyint39])    AS      [Tinyint39]
      ,[dbo].[TinyInt2BinaryString]([Tinyint40])    AS      [Tinyint40]
      ,[dbo].[TinyInt2BinaryString]([Tinyint41])    AS      [Tinyint41]
      ,[dbo].[TinyInt2BinaryString]([Tinyint42])    AS      [Tinyint42]
      ,[dbo].[TinyInt2BinaryString]([Tinyint43])    AS      [Tinyint43]
      ,[dbo].[TinyInt2BinaryString]([Tinyint44])    AS      [Tinyint44]
      ,[dbo].[TinyInt2BinaryString]([Tinyint45])    AS      [Tinyint45]
      ,[dbo].[TinyInt2BinaryString]([Tinyint46])    AS      [Tinyint46]
      ,[dbo].[TinyInt2BinaryString]([Tinyint47])    AS      [Tinyint47]
      ,[dbo].[TinyInt2BinaryString]([Tinyint48])    AS      [Tinyint48]
      ,[dbo].[TinyInt2BinaryString]([Tinyint49])    AS      [Tinyint49]
      ,[dbo].[TinyInt2BinaryString]([Tinyint50])    AS      [Tinyint50]
      ,[dbo].[TinyInt2BinaryString]([Tinyint51])    AS      [Tinyint51]
      ,[dbo].[TinyInt2BinaryString]([Tinyint52])    AS      [Tinyint52]
      ,[dbo].[TinyInt2BinaryString]([Tinyint53])    AS      [Tinyint53]
      ,[dbo].[TinyInt2BinaryString]([Tinyint54])    AS      [Tinyint54]
      ,[dbo].[TinyInt2BinaryString]([Tinyint55])    AS      [Tinyint55]
      ,[dbo].[TinyInt2BinaryString]([Tinyint56])    AS      [Tinyint56]
      ,[dbo].[TinyInt2BinaryString]([Tinyint57])    AS      [Tinyint57]
      ,[dbo].[TinyInt2BinaryString]([Tinyint58])    AS      [Tinyint58]
      ,[dbo].[TinyInt2BinaryString]([Tinyint59])    AS      [Tinyint59]
      ,[dbo].[TinyInt2BinaryString]([Tinyint60])    AS      [Tinyint60]
      ,[dbo].[TinyInt2BinaryString]([Tinyint61])    AS      [Tinyint61]
      ,[dbo].[TinyInt2BinaryString]([Tinyint62])    AS      [Tinyint62]
      ,[dbo].[TinyInt2BinaryString]([Tinyint63])    AS      [Tinyint63]
      ,[dbo].[TinyInt2BinaryString]([Tinyint64])    AS      [Tinyint64]
      ,[dbo].[TinyInt2BinaryString]([Tinyint65])    AS      [Tinyint65]
      ,[dbo].[TinyInt2BinaryString]([Tinyint66])    AS      [Tinyint66]
      ,[dbo].[TinyInt2BinaryString]([Tinyint67])    AS      [Tinyint67]
      ,[dbo].[TinyInt2BinaryString]([Tinyint68])    AS      [Tinyint68]
      ,[dbo].[TinyInt2BinaryString]([Tinyint69])    AS      [Tinyint69]
      ,[dbo].[TinyInt2BinaryString]([Tinyint70])    AS      [Tinyint70]
      ,[dbo].[TinyInt2BinaryString]([Tinyint71])    AS      [Tinyint71]
      ,[dbo].[TinyInt2BinaryString]([Tinyint72])    AS      [Tinyint72]
      ,[dbo].[TinyInt2BinaryString]([Tinyint73])    AS      [Tinyint73]
      ,[dbo].[TinyInt2BinaryString]([Tinyint74])    AS      [Tinyint74]
      ,[dbo].[TinyInt2BinaryString]([Tinyint75])    AS      [Tinyint75]
      ,[dbo].[TinyInt2BinaryString]([Tinyint76])    AS      [Tinyint76]
      ,[dbo].[TinyInt2BinaryString]([Tinyint77])    AS      [Tinyint77]
      ,[dbo].[TinyInt2BinaryString]([Tinyint78])    AS      [Tinyint78]
      ,[dbo].[TinyInt2BinaryString]([Tinyint79])    AS      [Tinyint79]
      ,[dbo].[TinyInt2BinaryString]([Tinyint80])    AS      [Tinyint80]
      ,[dbo].[TinyInt2BinaryString]([Tinyint81])    AS      [Tinyint81]
      ,[dbo].[TinyInt2BinaryString]([Tinyint82])    AS      [Tinyint82]
      ,[dbo].[TinyInt2BinaryString]([Tinyint83])    AS      [Tinyint83]
      ,[dbo].[TinyInt2BinaryString]([Tinyint84])    AS      [Tinyint84]
      ,[dbo].[TinyInt2BinaryString]([Tinyint85])    AS      [Tinyint85]
      ,[dbo].[TinyInt2BinaryString]([Tinyint86])    AS      [Tinyint86]
      ,[dbo].[TinyInt2BinaryString]([Tinyint87])    AS      [Tinyint87]
      ,[dbo].[TinyInt2BinaryString]([Tinyint88])    AS      [Tinyint88]
      ,[dbo].[TinyInt2BinaryString]([Tinyint89])    AS      [Tinyint89]
      ,[dbo].[TinyInt2BinaryString]([Tinyint90])    AS      [Tinyint90]
      ,[dbo].[TinyInt2BinaryString]([Tinyint91])    AS      [Tinyint91]
      ,[dbo].[TinyInt2BinaryString]([Tinyint92])    AS      [Tinyint92]
      ,[dbo].[TinyInt2BinaryString]([Tinyint93])    AS      [Tinyint93]
      ,[dbo].[TinyInt2BinaryString]([Tinyint94])    AS      [Tinyint94]
      ,[dbo].[TinyInt2BinaryString]([Tinyint95])    AS      [Tinyint95]
      ,[dbo].[TinyInt2BinaryString]([Tinyint96])    AS      [Tinyint96]
      ,[dbo].[TinyInt2BinaryString]([Tinyint97])    AS      [Tinyint97]
      ,[dbo].[TinyInt2BinaryString]([Tinyint98])    AS      [Tinyint98]
      ,[dbo].[TinyInt2BinaryString]([Tinyint99])    AS      [Tinyint99]
      ,[dbo].[TinyInt2BinaryString]([Tinyint100])    AS      [Tinyint100]
      ,[dbo].[TinyInt2BinaryString]([Tinyint101])    AS      [Tinyint101]
      ,[dbo].[TinyInt2BinaryString]([Tinyint102])    AS      [Tinyint102]
      ,[dbo].[TinyInt2BinaryString]([Tinyint103])    AS      [Tinyint103]
      ,[dbo].[TinyInt2BinaryString]([Tinyint104])    AS      [Tinyint104]
      ,[dbo].[TinyInt2BinaryString]([Tinyint105])    AS      [Tinyint105]
      ,[dbo].[TinyInt2BinaryString]([Tinyint106])    AS      [Tinyint106]
      ,[dbo].[TinyInt2BinaryString]([Tinyint107])    AS      [Tinyint107]
      ,[dbo].[TinyInt2BinaryString]([Tinyint108])    AS      [Tinyint108]
      ,[dbo].[TinyInt2BinaryString]([Tinyint109])    AS      [Tinyint109]
      ,[dbo].[TinyInt2BinaryString]([Tinyint110])    AS      [Tinyint110]
      ,[dbo].[TinyInt2BinaryString]([Tinyint111])    AS      [Tinyint111]
      ,[dbo].[TinyInt2BinaryString]([Tinyint112])    AS      [Tinyint112]
      ,[dbo].[TinyInt2BinaryString]([Tinyint113])    AS      [Tinyint113]
      ,[dbo].[TinyInt2BinaryString]([Tinyint114])    AS      [Tinyint114]
      ,[dbo].[TinyInt2BinaryString]([Tinyint115])    AS      [Tinyint115]
      ,[dbo].[TinyInt2BinaryString]([Tinyint116])    AS      [Tinyint116]
      ,[dbo].[TinyInt2BinaryString]([Tinyint117])    AS      [Tinyint117]
      ,[dbo].[TinyInt2BinaryString]([Tinyint118])    AS      [Tinyint118]
      ,[dbo].[TinyInt2BinaryString]([Tinyint119])    AS      [Tinyint119]
      ,[dbo].[TinyInt2BinaryString]([Tinyint120])    AS      [Tinyint120]
      ,[dbo].[TinyInt2BinaryString]([Tinyint121])    AS      [Tinyint121]
      ,[dbo].[TinyInt2BinaryString]([Tinyint122])    AS      [Tinyint122]
      ,[dbo].[TinyInt2BinaryString]([Tinyint123])    AS      [Tinyint123]
      ,[dbo].[TinyInt2BinaryString]([Tinyint124])    AS      [Tinyint124]
      ,[dbo].[TinyInt2BinaryString]([Tinyint125])    AS      [Tinyint125]
      ,[dbo].[TinyInt2BinaryString]([Tinyint126])    AS      [Tinyint126]
      ,[dbo].[TinyInt2BinaryString]([Tinyint127])    AS      [Tinyint127]
      ,[dbo].[TinyInt2BinaryString]([Tinyint128])    AS      [Tinyint128]
      ,[dbo].[TinyInt2BinaryString]([Tinyint129])    AS      [Tinyint129]
      ,[dbo].[TinyInt2BinaryString]([Tinyint130])    AS      [Tinyint130]
      ,[dbo].[TinyInt2BinaryString]([Tinyint131])    AS      [Tinyint131]
      ,[dbo].[TinyInt2BinaryString]([Tinyint132])    AS      [Tinyint132]
      ,[dbo].[TinyInt2BinaryString]([Tinyint133])    AS      [Tinyint133]
      ,[dbo].[TinyInt2BinaryString]([Tinyint134])    AS      [Tinyint134]
      ,[dbo].[TinyInt2BinaryString]([Tinyint135])    AS      [Tinyint135]
      ,[dbo].[TinyInt2BinaryString]([Tinyint136])    AS      [Tinyint136]
      ,[dbo].[TinyInt2BinaryString]([Tinyint137])    AS      [Tinyint137]
      ,[dbo].[TinyInt2BinaryString]([Tinyint138])    AS      [Tinyint138]
      ,[dbo].[TinyInt2BinaryString]([Tinyint139])    AS      [Tinyint139]
      ,[dbo].[TinyInt2BinaryString]([Tinyint140])    AS      [Tinyint140]
      ,[dbo].[TinyInt2BinaryString]([Tinyint141])    AS      [Tinyint141]
      ,[dbo].[TinyInt2BinaryString]([Tinyint142])    AS      [Tinyint142]
      ,[dbo].[TinyInt2BinaryString]([Tinyint143])    AS      [Tinyint143]
      ,[dbo].[TinyInt2BinaryString]([Tinyint144])    AS      [Tinyint144]
      ,[dbo].[TinyInt2BinaryString]([Tinyint145])    AS      [Tinyint145]
      ,[dbo].[TinyInt2BinaryString]([Tinyint146])    AS      [Tinyint146]
      ,[dbo].[TinyInt2BinaryString]([Tinyint147])    AS      [Tinyint147]
      ,[dbo].[TinyInt2BinaryString]([Tinyint148])    AS      [Tinyint148]
      ,[dbo].[TinyInt2BinaryString]([Tinyint149])    AS      [Tinyint149]
      ,[dbo].[TinyInt2BinaryString]([Tinyint150])    AS      [Tinyint150]
      ,[dbo].[TinyInt2BinaryString]([Tinyint151])    AS      [Tinyint151]
      ,[dbo].[TinyInt2BinaryString]([Tinyint152])    AS      [Tinyint152]
      ,[dbo].[TinyInt2BinaryString]([Tinyint153])    AS      [Tinyint153]
      ,[dbo].[TinyInt2BinaryString]([Tinyint154])    AS      [Tinyint154]
      ,[dbo].[TinyInt2BinaryString]([Tinyint155])    AS      [Tinyint155]
      ,[dbo].[TinyInt2BinaryString]([Tinyint156])    AS      [Tinyint156]
      ,[dbo].[TinyInt2BinaryString]([Tinyint157])    AS      [Tinyint157]
      ,[dbo].[TinyInt2BinaryString]([Tinyint158])    AS      [Tinyint158]
      ,[dbo].[TinyInt2BinaryString]([Tinyint159])    AS      [Tinyint159]
      ,[dbo].[TinyInt2BinaryString]([Tinyint160])    AS      [Tinyint160]
      ,[dbo].[TinyInt2BinaryString]([Tinyint161])    AS      [Tinyint161]
      ,[dbo].[TinyInt2BinaryString]([Tinyint162])    AS      [Tinyint162]
      ,[dbo].[TinyInt2BinaryString]([Tinyint163])    AS      [Tinyint163]
      ,[dbo].[TinyInt2BinaryString]([Tinyint164])    AS      [Tinyint164]
      ,[dbo].[TinyInt2BinaryString]([Tinyint165])    AS      [Tinyint165]
      ,[dbo].[TinyInt2BinaryString]([Tinyint166])    AS      [Tinyint166]
      ,[dbo].[TinyInt2BinaryString]([Tinyint167])    AS      [Tinyint167]
      ,[dbo].[TinyInt2BinaryString]([Tinyint168])    AS      [Tinyint168]
      ,[dbo].[TinyInt2BinaryString]([Tinyint169])    AS      [Tinyint169]
      ,[dbo].[TinyInt2BinaryString]([Tinyint170])    AS      [Tinyint170]
      ,[dbo].[TinyInt2BinaryString]([Tinyint171])    AS      [Tinyint171]
      ,[dbo].[TinyInt2BinaryString]([Tinyint172])    AS      [Tinyint172]
      ,[dbo].[TinyInt2BinaryString]([Tinyint173])    AS      [Tinyint173]
      ,[dbo].[TinyInt2BinaryString]([Tinyint174])    AS      [Tinyint174]
      ,[dbo].[TinyInt2BinaryString]([Tinyint175])    AS      [Tinyint175]
      ,[dbo].[TinyInt2BinaryString]([Tinyint176])    AS      [Tinyint176]
      ,[dbo].[TinyInt2BinaryString]([Tinyint177])    AS      [Tinyint177]
      ,[dbo].[TinyInt2BinaryString]([Tinyint178])    AS      [Tinyint178]
      ,[dbo].[TinyInt2BinaryString]([Tinyint179])    AS      [Tinyint179]
      ,[dbo].[TinyInt2BinaryString]([Tinyint180])    AS      [Tinyint180]
      ,[dbo].[TinyInt2BinaryString]([Tinyint181])    AS      [Tinyint181]
      ,[dbo].[TinyInt2BinaryString]([Tinyint182])    AS      [Tinyint182]
      ,[dbo].[TinyInt2BinaryString]([Tinyint183])    AS      [Tinyint183]
      ,[dbo].[TinyInt2BinaryString]([Tinyint184])    AS      [Tinyint184]
      ,[dbo].[TinyInt2BinaryString]([Tinyint185])    AS      [Tinyint185]
      ,[dbo].[TinyInt2BinaryString]([Tinyint186])    AS      [Tinyint186]
      ,[dbo].[TinyInt2BinaryString]([Tinyint187])    AS      [Tinyint187]
      ,[dbo].[TinyInt2BinaryString]([Tinyint188])    AS      [Tinyint188]
      ,[dbo].[TinyInt2BinaryString]([Tinyint189])    AS      [Tinyint189]
      ,[dbo].[TinyInt2BinaryString]([Tinyint190])    AS      [Tinyint190]
      ,[dbo].[TinyInt2BinaryString]([Tinyint191])    AS      [Tinyint191]
      ,[dbo].[TinyInt2BinaryString]([Tinyint192])    AS      [Tinyint192]
      ,[dbo].[TinyInt2BinaryString]([Tinyint193])    AS      [Tinyint193]
      ,[dbo].[TinyInt2BinaryString]([Tinyint194])    AS      [Tinyint194]
      ,[dbo].[TinyInt2BinaryString]([Tinyint195])    AS      [Tinyint195]
      ,[dbo].[TinyInt2BinaryString]([Tinyint196])    AS      [Tinyint196]
      ,[dbo].[TinyInt2BinaryString]([Tinyint197])    AS      [Tinyint197]
      ,[dbo].[TinyInt2BinaryString]([Tinyint198])    AS      [Tinyint198]
      ,[dbo].[TinyInt2BinaryString]([Tinyint199])    AS      [Tinyint199]
      ,[dbo].[TinyInt2BinaryString]([Tinyint200])    AS      [Tinyint200]
      ,[dbo].[TinyInt2BinaryString]([Tinyint201])    AS      [Tinyint201]
      ,[dbo].[TinyInt2BinaryString]([Tinyint202])    AS      [Tinyint202]
      ,[dbo].[TinyInt2BinaryString]([Tinyint203])    AS      [Tinyint203]
      ,[dbo].[TinyInt2BinaryString]([Tinyint204])    AS      [Tinyint204]
      ,[dbo].[TinyInt2BinaryString]([Tinyint205])    AS      [Tinyint205]
      ,[dbo].[TinyInt2BinaryString]([Tinyint206])    AS      [Tinyint206]
      ,[dbo].[TinyInt2BinaryString]([Tinyint207])    AS      [Tinyint207]
      ,[dbo].[TinyInt2BinaryString]([Tinyint208])    AS      [Tinyint208]
      ,[dbo].[TinyInt2BinaryString]([Tinyint209])    AS      [Tinyint209]
      ,[dbo].[TinyInt2BinaryString]([Tinyint210])    AS      [Tinyint210]
      ,[dbo].[TinyInt2BinaryString]([Tinyint211])    AS      [Tinyint211]
      ,[dbo].[TinyInt2BinaryString]([Tinyint212])    AS      [Tinyint212]
      ,[dbo].[TinyInt2BinaryString]([Tinyint213])    AS      [Tinyint213]
      ,[dbo].[TinyInt2BinaryString]([Tinyint214])    AS      [Tinyint214]
      ,[dbo].[TinyInt2BinaryString]([Tinyint215])    AS      [Tinyint215]
      ,[dbo].[TinyInt2BinaryString]([Tinyint216])    AS      [Tinyint216]
      ,[dbo].[TinyInt2BinaryString]([Tinyint217])    AS      [Tinyint217]
      ,[dbo].[TinyInt2BinaryString]([Tinyint218])    AS      [Tinyint218]
      ,[dbo].[TinyInt2BinaryString]([Tinyint219])    AS      [Tinyint219]
      ,[dbo].[TinyInt2BinaryString]([Tinyint220])    AS      [Tinyint220]
      ,[dbo].[TinyInt2BinaryString]([Tinyint221])    AS      [Tinyint221]
      ,[dbo].[TinyInt2BinaryString]([Tinyint222])    AS      [Tinyint222]
      ,[dbo].[TinyInt2BinaryString]([Tinyint223])    AS      [Tinyint223]
      ,[dbo].[TinyInt2BinaryString]([Tinyint224])    AS      [Tinyint224]
      ,[dbo].[TinyInt2BinaryString]([Tinyint225])    AS      [Tinyint225]
      ,[dbo].[TinyInt2BinaryString]([Tinyint226])    AS      [Tinyint226]
      ,[dbo].[TinyInt2BinaryString]([Tinyint227])    AS      [Tinyint227]
      ,[dbo].[TinyInt2BinaryString]([Tinyint228])    AS      [Tinyint228]
      ,[dbo].[TinyInt2BinaryString]([Tinyint229])    AS      [Tinyint229]
      ,[dbo].[TinyInt2BinaryString]([Tinyint230])    AS      [Tinyint230]
      ,[dbo].[TinyInt2BinaryString]([Tinyint231])    AS      [Tinyint231]
      ,[dbo].[TinyInt2BinaryString]([Tinyint232])    AS      [Tinyint232]
      ,[dbo].[TinyInt2BinaryString]([Tinyint233])    AS      [Tinyint233]
      ,[dbo].[TinyInt2BinaryString]([Tinyint234])    AS      [Tinyint234]
      ,[dbo].[TinyInt2BinaryString]([Tinyint235])    AS      [Tinyint235]
      ,[dbo].[TinyInt2BinaryString]([Tinyint236])    AS      [Tinyint236]
      ,[dbo].[TinyInt2BinaryString]([Tinyint237])    AS      [Tinyint237]
      ,[dbo].[TinyInt2BinaryString]([Tinyint238])    AS      [Tinyint238]
      ,[dbo].[TinyInt2BinaryString]([Tinyint239])    AS      [Tinyint239]
      ,[dbo].[TinyInt2BinaryString]([Tinyint240])    AS      [Tinyint240]
      ,[dbo].[TinyInt2BinaryString]([Tinyint241])    AS      [Tinyint241]
      ,[dbo].[TinyInt2BinaryString]([Tinyint242])    AS      [Tinyint242]
      ,[dbo].[TinyInt2BinaryString]([Tinyint243])    AS      [Tinyint243]
      ,[dbo].[TinyInt2BinaryString]([Tinyint244])    AS      [Tinyint244]
      ,[dbo].[TinyInt2BinaryString]([Tinyint245])    AS      [Tinyint245]
      ,[dbo].[TinyInt2BinaryString]([Tinyint246])    AS      [Tinyint246]
      ,[dbo].[TinyInt2BinaryString]([Tinyint247])    AS      [Tinyint247]
      ,[dbo].[TinyInt2BinaryString]([Tinyint248])    AS      [Tinyint248]
      ,[dbo].[TinyInt2BinaryString]([Tinyint249])    AS      [Tinyint249]
      ,[dbo].[TinyInt2BinaryString]([Tinyint250])    AS      [Tinyint250]
      ,[dbo].[TinyInt2BinaryString]([Tinyint251])    AS      [Tinyint251]
      ,[dbo].[TinyInt2BinaryString]([Tinyint252])    AS      [Tinyint252]
      ,[dbo].[TinyInt2BinaryString]([Tinyint253])    AS      [Tinyint253]
      ,[dbo].[TinyInt2BinaryString]([Tinyint254])    AS      [Tinyint254]
      ,[dbo].[TinyInt2BinaryString]([Tinyint255])    AS      [Tinyint255]
      ,[dbo].[TinyInt2BinaryString]([Tinyint256])    AS      [Tinyint256]
      ,[dbo].[TinyInt2BinaryString]([Tinyint257])    AS      [Tinyint257]
      ,[dbo].[TinyInt2BinaryString]([Tinyint258])    AS      [Tinyint258]
      ,[dbo].[TinyInt2BinaryString]([Tinyint259])    AS      [Tinyint259]
      ,[dbo].[TinyInt2BinaryString]([Tinyint260])    AS      [Tinyint260]
      ,[dbo].[TinyInt2BinaryString]([Tinyint261])    AS      [Tinyint261]
      ,[dbo].[TinyInt2BinaryString]([Tinyint262])    AS      [Tinyint262]
      ,[dbo].[TinyInt2BinaryString]([Tinyint263])    AS      [Tinyint263]
      ,[dbo].[TinyInt2BinaryString]([Tinyint264])    AS      [Tinyint264]
      ,[dbo].[TinyInt2BinaryString]([Tinyint265])    AS      [Tinyint265]
      ,[dbo].[TinyInt2BinaryString]([Tinyint266])    AS      [Tinyint266]
      ,[dbo].[TinyInt2BinaryString]([Tinyint267])    AS      [Tinyint267]
      ,[dbo].[TinyInt2BinaryString]([Tinyint268])    AS      [Tinyint268]
      ,[dbo].[TinyInt2BinaryString]([Tinyint269])    AS      [Tinyint269]
      ,[dbo].[TinyInt2BinaryString]([Tinyint270])    AS      [Tinyint270]
      ,[dbo].[TinyInt2BinaryString]([Tinyint271])    AS      [Tinyint271]
      ,[dbo].[TinyInt2BinaryString]([Tinyint272])    AS      [Tinyint272]
      ,[dbo].[TinyInt2BinaryString]([Tinyint273])    AS      [Tinyint273]
      ,[dbo].[TinyInt2BinaryString]([Tinyint274])    AS      [Tinyint274]
      ,[dbo].[TinyInt2BinaryString]([Tinyint275])    AS      [Tinyint275]
      ,[dbo].[TinyInt2BinaryString]([Tinyint276])    AS      [Tinyint276]
      ,[dbo].[TinyInt2BinaryString]([Tinyint277])    AS      [Tinyint277]
      ,[dbo].[TinyInt2BinaryString]([Tinyint278])    AS      [Tinyint278]
      ,[dbo].[TinyInt2BinaryString]([Tinyint279])    AS      [Tinyint279]
      ,[dbo].[TinyInt2BinaryString]([Tinyint280])    AS      [Tinyint280]
      ,[dbo].[TinyInt2BinaryString]([Tinyint281])    AS      [Tinyint281]
      ,[dbo].[TinyInt2BinaryString]([Tinyint282])    AS      [Tinyint282]
      ,[dbo].[TinyInt2BinaryString]([Tinyint283])    AS      [Tinyint283]
      ,[dbo].[TinyInt2BinaryString]([Tinyint284])    AS      [Tinyint284]
      ,[dbo].[TinyInt2BinaryString]([Tinyint285])    AS      [Tinyint285]
      ,[dbo].[TinyInt2BinaryString]([Tinyint286])    AS      [Tinyint286]
      ,[dbo].[TinyInt2BinaryString]([Tinyint287])    AS      [Tinyint287]
      ,[dbo].[TinyInt2BinaryString]([Tinyint288])    AS      [Tinyint288]
      ,[dbo].[TinyInt2BinaryString]([Tinyint289])    AS      [Tinyint289]
      ,[dbo].[TinyInt2BinaryString]([Tinyint290])    AS      [Tinyint290]
      ,[dbo].[TinyInt2BinaryString]([Tinyint291])    AS      [Tinyint291]
      ,[dbo].[TinyInt2BinaryString]([Tinyint292])    AS      [Tinyint292]
      ,[dbo].[TinyInt2BinaryString]([Tinyint293])    AS      [Tinyint293]
      ,[dbo].[TinyInt2BinaryString]([Tinyint294])    AS      [Tinyint294]
      ,[dbo].[TinyInt2BinaryString]([Tinyint295])    AS      [Tinyint295]
      ,[dbo].[TinyInt2BinaryString]([Tinyint296])    AS      [Tinyint296]
      ,[dbo].[TinyInt2BinaryString]([Tinyint297])    AS      [Tinyint297]
      ,[dbo].[TinyInt2BinaryString]([Tinyint298])    AS      [Tinyint298]
      ,[dbo].[TinyInt2BinaryString]([Tinyint299])    AS      [Tinyint299]
      ,[dbo].[TinyInt2BinaryString]([Tinyint300])    AS      [Tinyint300]
      ,[dbo].[TinyInt2BinaryString]([Tinyint301])    AS      [Tinyint301]
      ,[dbo].[TinyInt2BinaryString]([Tinyint302])    AS      [Tinyint302]
      ,[dbo].[TinyInt2BinaryString]([Tinyint303])    AS      [Tinyint303]
      ,[dbo].[TinyInt2BinaryString]([Tinyint304])    AS      [Tinyint304]
      ,[dbo].[TinyInt2BinaryString]([Tinyint305])    AS      [Tinyint305]
      ,[dbo].[TinyInt2BinaryString]([Tinyint306])    AS      [Tinyint306]
      ,[dbo].[TinyInt2BinaryString]([Tinyint307])    AS      [Tinyint307]
      ,[dbo].[TinyInt2BinaryString]([Tinyint308])    AS      [Tinyint308]
      ,[dbo].[TinyInt2BinaryString]([Tinyint309])    AS      [Tinyint309]
      ,[dbo].[TinyInt2BinaryString]([Tinyint310])    AS      [Tinyint310]
      ,[dbo].[TinyInt2BinaryString]([Tinyint311])    AS      [Tinyint311]
      ,[dbo].[TinyInt2BinaryString]([Tinyint312])    AS      [Tinyint312]
      ,[dbo].[TinyInt2BinaryString]([Tinyint313])    AS      [Tinyint313]
      ,[dbo].[TinyInt2BinaryString]([Tinyint314])    AS      [Tinyint314]
      ,[dbo].[TinyInt2BinaryString]([Tinyint315])    AS      [Tinyint315]
      ,[dbo].[TinyInt2BinaryString]([Tinyint316])    AS      [Tinyint316]
      ,[dbo].[TinyInt2BinaryString]([Tinyint317])    AS      [Tinyint317]
      ,[dbo].[TinyInt2BinaryString]([Tinyint318])    AS      [Tinyint318]
      ,[dbo].[TinyInt2BinaryString]([Tinyint319])    AS      [Tinyint319]
      ,[dbo].[TinyInt2BinaryString]([Tinyint320])    AS      [Tinyint320]
      ,[dbo].[TinyInt2BinaryString]([Tinyint321])    AS      [Tinyint321]
      ,[dbo].[TinyInt2BinaryString]([Tinyint322])    AS      [Tinyint322]
      ,[dbo].[TinyInt2BinaryString]([Tinyint323])    AS      [Tinyint323]
      ,[dbo].[TinyInt2BinaryString]([Tinyint324])    AS      [Tinyint324]
      ,[dbo].[TinyInt2BinaryString]([Tinyint325])    AS      [Tinyint325]
      ,[dbo].[TinyInt2BinaryString]([Tinyint326])    AS      [Tinyint326]
      ,[dbo].[TinyInt2BinaryString]([Tinyint327])    AS      [Tinyint327]
      ,[dbo].[TinyInt2BinaryString]([Tinyint328])    AS      [Tinyint328]
      ,[dbo].[TinyInt2BinaryString]([Tinyint329])    AS      [Tinyint329]
      ,[dbo].[TinyInt2BinaryString]([Tinyint330])    AS      [Tinyint330]
      ,[dbo].[TinyInt2BinaryString]([Tinyint331])    AS      [Tinyint331]
      ,[dbo].[TinyInt2BinaryString]([Tinyint332])    AS      [Tinyint332]
      ,[dbo].[TinyInt2BinaryString]([Tinyint333])    AS      [Tinyint333]
      ,[dbo].[TinyInt2BinaryString]([Tinyint334])    AS      [Tinyint334]
      ,[dbo].[TinyInt2BinaryString]([Tinyint335])    AS      [Tinyint335]
      ,[dbo].[TinyInt2BinaryString]([Tinyint336])    AS      [Tinyint336]
      ,[dbo].[TinyInt2BinaryString]([Tinyint337])    AS      [Tinyint337]
      ,[dbo].[TinyInt2BinaryString]([Tinyint338])    AS      [Tinyint338]
      ,[dbo].[TinyInt2BinaryString]([Tinyint339])    AS      [Tinyint339]
      ,[dbo].[TinyInt2BinaryString]([Tinyint340])    AS      [Tinyint340]
      ,[dbo].[TinyInt2BinaryString]([Tinyint341])    AS      [Tinyint341]
      ,[dbo].[TinyInt2BinaryString]([Tinyint342])    AS      [Tinyint342]
      ,[dbo].[TinyInt2BinaryString]([Tinyint343])    AS      [Tinyint343]
      ,[dbo].[TinyInt2BinaryString]([Tinyint344])    AS      [Tinyint344]
      ,[dbo].[TinyInt2BinaryString]([Tinyint345])    AS      [Tinyint345]
      ,[dbo].[TinyInt2BinaryString]([Tinyint346])    AS      [Tinyint346]
      ,[dbo].[TinyInt2BinaryString]([Tinyint347])    AS      [Tinyint347]
      ,[dbo].[TinyInt2BinaryString]([Tinyint348])    AS      [Tinyint348]
      ,[dbo].[TinyInt2BinaryString]([Tinyint349])    AS      [Tinyint349]
      ,[dbo].[TinyInt2BinaryString]([Tinyint350])    AS      [Tinyint350]
      ,[dbo].[TinyInt2BinaryString]([Tinyint351])    AS      [Tinyint351]
      ,[dbo].[TinyInt2BinaryString]([Tinyint352])    AS      [Tinyint352]
      ,[dbo].[TinyInt2BinaryString]([Tinyint353])    AS      [Tinyint353]
      ,[dbo].[TinyInt2BinaryString]([Tinyint354])    AS      [Tinyint354]
      ,[dbo].[TinyInt2BinaryString]([Tinyint355])    AS      [Tinyint355]
      ,[dbo].[TinyInt2BinaryString]([Tinyint356])    AS      [Tinyint356]
      ,[dbo].[TinyInt2BinaryString]([Tinyint357])    AS      [Tinyint357]
      ,[dbo].[TinyInt2BinaryString]([Tinyint358])    AS      [Tinyint358]
      ,[dbo].[TinyInt2BinaryString]([Tinyint359])    AS      [Tinyint359]
      ,[dbo].[TinyInt2BinaryString]([Tinyint360])    AS      [Tinyint360]
      ,[dbo].[TinyInt2BinaryString]([Tinyint361])    AS      [Tinyint361]
      ,[dbo].[TinyInt2BinaryString]([Tinyint362])    AS      [Tinyint362]
      ,[dbo].[TinyInt2BinaryString]([Tinyint363])    AS      [Tinyint363]
      ,[dbo].[TinyInt2BinaryString]([Tinyint364])    AS      [Tinyint364]
      ,[dbo].[TinyInt2BinaryString]([Tinyint365])    AS      [Tinyint365]
      ,[dbo].[TinyInt2BinaryString]([Tinyint366])    AS      [Tinyint366]
      ,[dbo].[TinyInt2BinaryString]([Tinyint367])    AS      [Tinyint367]
      ,[dbo].[TinyInt2BinaryString]([Tinyint368])    AS      [Tinyint368]
      ,[dbo].[TinyInt2BinaryString]([Tinyint369])    AS      [Tinyint369]
      ,[dbo].[TinyInt2BinaryString]([Tinyint370])    AS      [Tinyint370]
      ,[dbo].[TinyInt2BinaryString]([Tinyint371])    AS      [Tinyint371]
      ,[dbo].[TinyInt2BinaryString]([Tinyint372])    AS      [Tinyint372]
      ,[dbo].[TinyInt2BinaryString]([Tinyint373])    AS      [Tinyint373]
      ,[dbo].[TinyInt2BinaryString]([Tinyint374])    AS      [Tinyint374]
      ,[dbo].[TinyInt2BinaryString]([Tinyint375])    AS      [Tinyint375]
      ,[dbo].[TinyInt2BinaryString]([Tinyint376])    AS      [Tinyint376]
      ,[dbo].[TinyInt2BinaryString]([Tinyint377])    AS      [Tinyint377]
      ,[dbo].[TinyInt2BinaryString]([Tinyint378])    AS      [Tinyint378]
      ,[dbo].[TinyInt2BinaryString]([Tinyint379])    AS      [Tinyint379]
      ,[dbo].[TinyInt2BinaryString]([Tinyint380])    AS      [Tinyint380]
      ,[dbo].[TinyInt2BinaryString]([Tinyint381])    AS      [Tinyint381]
      ,[dbo].[TinyInt2BinaryString]([Tinyint382])    AS      [Tinyint382]
      ,[dbo].[TinyInt2BinaryString]([Tinyint383])    AS      [Tinyint383]
      ,[dbo].[TinyInt2BinaryString]([Tinyint384])    AS      [Tinyint384]
      ,[dbo].[TinyInt2BinaryString]([Tinyint385])    AS      [Tinyint385]
      ,[dbo].[TinyInt2BinaryString]([Tinyint386])    AS      [Tinyint386]
      ,[dbo].[TinyInt2BinaryString]([Tinyint387])    AS      [Tinyint387]
      ,[dbo].[TinyInt2BinaryString]([Tinyint388])    AS      [Tinyint388]
      ,[dbo].[TinyInt2BinaryString]([Tinyint389])    AS      [Tinyint389]
      ,[dbo].[TinyInt2BinaryString]([Tinyint390])    AS      [Tinyint390]
      ,[dbo].[TinyInt2BinaryString]([Tinyint391])    AS      [Tinyint391]
      ,[dbo].[TinyInt2BinaryString]([Tinyint392])    AS      [Tinyint392]
      ,[dbo].[TinyInt2BinaryString]([Tinyint393])    AS      [Tinyint393]
      ,[dbo].[TinyInt2BinaryString]([Tinyint394])    AS      [Tinyint394]
      ,[dbo].[TinyInt2BinaryString]([Tinyint395])    AS      [Tinyint395]
      ,[dbo].[TinyInt2BinaryString]([Tinyint396])    AS      [Tinyint396]
      ,[dbo].[TinyInt2BinaryString]([Tinyint397])    AS      [Tinyint397]
      ,[dbo].[TinyInt2BinaryString]([Tinyint398])    AS      [Tinyint398]
      ,[dbo].[TinyInt2BinaryString]([Tinyint399])    AS      [Tinyint399]
      ,[dbo].[TinyInt2BinaryString]([Tinyint400])    AS      [Tinyint400]
      ,[dbo].[TinyInt2BinaryString]([Tinyint401])    AS      [Tinyint401]
      ,[dbo].[TinyInt2BinaryString]([Tinyint402])    AS      [Tinyint402]
      ,[dbo].[TinyInt2BinaryString]([Tinyint403])    AS      [Tinyint403]
      ,[dbo].[TinyInt2BinaryString]([Tinyint404])    AS      [Tinyint404]
      ,[dbo].[TinyInt2BinaryString]([Tinyint405])    AS      [Tinyint405]
      ,[dbo].[TinyInt2BinaryString]([Tinyint406])    AS      [Tinyint406]
      ,[dbo].[TinyInt2BinaryString]([Tinyint407])    AS      [Tinyint407]
      ,[dbo].[TinyInt2BinaryString]([Tinyint408])    AS      [Tinyint408]
      ,[dbo].[TinyInt2BinaryString]([Tinyint409])    AS      [Tinyint409]
      ,[dbo].[TinyInt2BinaryString]([Tinyint410])    AS      [Tinyint410]
      ,[dbo].[TinyInt2BinaryString]([Tinyint411])    AS      [Tinyint411]
      ,[dbo].[TinyInt2BinaryString]([Tinyint412])    AS      [Tinyint412]
      ,[dbo].[TinyInt2BinaryString]([Tinyint413])    AS      [Tinyint413]
      ,[dbo].[TinyInt2BinaryString]([Tinyint414])    AS      [Tinyint414]
      ,[dbo].[TinyInt2BinaryString]([Tinyint415])    AS      [Tinyint415]
      ,[dbo].[TinyInt2BinaryString]([Tinyint416])    AS      [Tinyint416]
      ,[dbo].[TinyInt2BinaryString]([Tinyint417])    AS      [Tinyint417]
      ,[dbo].[TinyInt2BinaryString]([Tinyint418])    AS      [Tinyint418]
      ,[dbo].[TinyInt2BinaryString]([Tinyint419])    AS      [Tinyint419]
      ,[dbo].[TinyInt2BinaryString]([Tinyint420])    AS      [Tinyint420]
      ,[dbo].[TinyInt2BinaryString]([Tinyint421])    AS      [Tinyint421]
      ,[dbo].[TinyInt2BinaryString]([Tinyint422])    AS      [Tinyint422]
      ,[dbo].[TinyInt2BinaryString]([Tinyint423])    AS      [Tinyint423]
      ,[dbo].[TinyInt2BinaryString]([Tinyint424])    AS      [Tinyint424]
      ,[dbo].[TinyInt2BinaryString]([Tinyint425])    AS      [Tinyint425]
      ,[dbo].[TinyInt2BinaryString]([Tinyint426])    AS      [Tinyint426]
      ,[dbo].[TinyInt2BinaryString]([Tinyint427])    AS      [Tinyint427]
      ,[dbo].[TinyInt2BinaryString]([Tinyint428])    AS      [Tinyint428]
      ,[dbo].[TinyInt2BinaryString]([Tinyint429])    AS      [Tinyint429]
      ,[dbo].[TinyInt2BinaryString]([Tinyint430])    AS      [Tinyint430]
      ,[dbo].[TinyInt2BinaryString]([Tinyint431])    AS      [Tinyint431]
      ,[dbo].[TinyInt2BinaryString]([Tinyint432])    AS      [Tinyint432]
      ,[dbo].[TinyInt2BinaryString]([Tinyint433])    AS      [Tinyint433]
      ,[dbo].[TinyInt2BinaryString]([Tinyint434])    AS      [Tinyint434]
      ,[dbo].[TinyInt2BinaryString]([Tinyint435])    AS      [Tinyint435]
      ,[dbo].[TinyInt2BinaryString]([Tinyint436])    AS      [Tinyint436]
      ,[dbo].[TinyInt2BinaryString]([Tinyint437])    AS      [Tinyint437]
      ,[dbo].[TinyInt2BinaryString]([Tinyint438])    AS      [Tinyint438]
      ,[dbo].[TinyInt2BinaryString]([Tinyint439])    AS      [Tinyint439]
      ,[dbo].[TinyInt2BinaryString]([Tinyint440])    AS      [Tinyint440]
      ,[dbo].[TinyInt2BinaryString]([Tinyint441])    AS      [Tinyint441]
      ,[dbo].[TinyInt2BinaryString]([Tinyint442])    AS      [Tinyint442]
      ,[dbo].[TinyInt2BinaryString]([Tinyint443])    AS      [Tinyint443]
      ,[dbo].[TinyInt2BinaryString]([Tinyint444])    AS      [Tinyint444]
      ,[dbo].[TinyInt2BinaryString]([Tinyint445])    AS      [Tinyint445]
      ,[dbo].[TinyInt2BinaryString]([Tinyint446])    AS      [Tinyint446]
      ,[dbo].[TinyInt2BinaryString]([Tinyint447])    AS      [Tinyint447]
      ,[dbo].[TinyInt2BinaryString]([Tinyint448])    AS      [Tinyint448]
      ,[dbo].[TinyInt2BinaryString]([Tinyint449])    AS      [Tinyint449]
      ,[dbo].[TinyInt2BinaryString]([Tinyint450])    AS      [Tinyint450]
      ,[dbo].[TinyInt2BinaryString]([Tinyint451])    AS      [Tinyint451]
      ,[dbo].[TinyInt2BinaryString]([Tinyint452])    AS      [Tinyint452]
      ,[dbo].[TinyInt2BinaryString]([Tinyint453])    AS      [Tinyint453]
      ,[dbo].[TinyInt2BinaryString]([Tinyint454])    AS      [Tinyint454]
      ,[dbo].[TinyInt2BinaryString]([Tinyint455])    AS      [Tinyint455]
      ,[dbo].[TinyInt2BinaryString]([Tinyint456])    AS      [Tinyint456]
      ,[dbo].[TinyInt2BinaryString]([Tinyint457])    AS      [Tinyint457]
      ,[dbo].[TinyInt2BinaryString]([Tinyint458])    AS      [Tinyint458]
      ,[dbo].[TinyInt2BinaryString]([Tinyint459])    AS      [Tinyint459]
      ,[dbo].[TinyInt2BinaryString]([Tinyint460])    AS      [Tinyint460]
      ,[dbo].[TinyInt2BinaryString]([Tinyint461])    AS      [Tinyint461]
      ,[dbo].[TinyInt2BinaryString]([Tinyint462])    AS      [Tinyint462]
      ,[dbo].[TinyInt2BinaryString]([Tinyint463])    AS      [Tinyint463]
      ,[dbo].[TinyInt2BinaryString]([Tinyint464])    AS      [Tinyint464]
      ,[dbo].[TinyInt2BinaryString]([Tinyint465])    AS      [Tinyint465]
      ,[dbo].[TinyInt2BinaryString]([Tinyint466])    AS      [Tinyint466]
      ,[dbo].[TinyInt2BinaryString]([Tinyint467])    AS      [Tinyint467]
      ,[dbo].[TinyInt2BinaryString]([Tinyint468])    AS      [Tinyint468]
      ,[dbo].[TinyInt2BinaryString]([Tinyint469])    AS      [Tinyint469]
      ,[dbo].[TinyInt2BinaryString]([Tinyint470])    AS      [Tinyint470]
      ,[dbo].[TinyInt2BinaryString]([Tinyint471])    AS      [Tinyint471]
      ,[dbo].[TinyInt2BinaryString]([Tinyint472])    AS      [Tinyint472]
      ,[dbo].[TinyInt2BinaryString]([Tinyint473])    AS      [Tinyint473]
      ,[dbo].[TinyInt2BinaryString]([Tinyint474])    AS      [Tinyint474]
      ,[dbo].[TinyInt2BinaryString]([Tinyint475])    AS      [Tinyint475]
      ,[dbo].[TinyInt2BinaryString]([Tinyint476])    AS      [Tinyint476]
      ,[dbo].[TinyInt2BinaryString]([Tinyint477])    AS      [Tinyint477]
      ,[dbo].[TinyInt2BinaryString]([Tinyint478])    AS      [Tinyint478]
      ,[dbo].[TinyInt2BinaryString]([Tinyint479])    AS      [Tinyint479]
      ,[dbo].[TinyInt2BinaryString]([Tinyint480])    AS      [Tinyint480]
      ,[dbo].[TinyInt2BinaryString]([Tinyint481])    AS      [Tinyint481]
      ,[dbo].[TinyInt2BinaryString]([Tinyint482])    AS      [Tinyint482]
      ,[dbo].[TinyInt2BinaryString]([Tinyint483])    AS      [Tinyint483]
      ,[dbo].[TinyInt2BinaryString]([Tinyint484])    AS      [Tinyint484]
      ,[dbo].[TinyInt2BinaryString]([Tinyint485])    AS      [Tinyint485]
      ,[dbo].[TinyInt2BinaryString]([Tinyint486])    AS      [Tinyint486]
      ,[dbo].[TinyInt2BinaryString]([Tinyint487])    AS      [Tinyint487]
      ,[dbo].[TinyInt2BinaryString]([Tinyint488])    AS      [Tinyint488]
      ,[dbo].[TinyInt2BinaryString]([Tinyint489])    AS      [Tinyint489]
      ,[dbo].[TinyInt2BinaryString]([Tinyint490])    AS      [Tinyint490]
      ,[dbo].[TinyInt2BinaryString]([Tinyint491])    AS      [Tinyint491]
      ,[dbo].[TinyInt2BinaryString]([Tinyint492])    AS      [Tinyint492]
      ,[dbo].[TinyInt2BinaryString]([Tinyint493])    AS      [Tinyint493]
      ,[dbo].[TinyInt2BinaryString]([Tinyint494])    AS      [Tinyint494]
      ,[dbo].[TinyInt2BinaryString]([Tinyint495])    AS      [Tinyint495]
      ,[dbo].[TinyInt2BinaryString]([Tinyint496])    AS      [Tinyint496]
      ,[dbo].[TinyInt2BinaryString]([Tinyint497])    AS      [Tinyint497]
      ,[dbo].[TinyInt2BinaryString]([Tinyint498])    AS      [Tinyint498]
      ,[dbo].[TinyInt2BinaryString]([Tinyint499])    AS      [Tinyint499]
      ,[dbo].[TinyInt2BinaryString]([Tinyint500])    AS      [Tinyint500]
      ,[dbo].[TinyInt2BinaryString]([Tinyint501])    AS      [Tinyint501]
      ,[dbo].[TinyInt2BinaryString]([Tinyint502])    AS      [Tinyint502]
      ,[dbo].[TinyInt2BinaryString]([Tinyint503])    AS      [Tinyint503]
      ,[dbo].[TinyInt2BinaryString]([Tinyint504])    AS      [Tinyint504]
      ,[dbo].[TinyInt2BinaryString]([Tinyint505])    AS      [Tinyint505]
      ,[dbo].[TinyInt2BinaryString]([Tinyint506])    AS      [Tinyint506]
      ,[dbo].[TinyInt2BinaryString]([Tinyint507])    AS      [Tinyint507]
      ,[dbo].[TinyInt2BinaryString]([Tinyint508])    AS      [Tinyint508]
      ,[dbo].[TinyInt2BinaryString]([Tinyint509])    AS      [Tinyint509]
      ,[dbo].[TinyInt2BinaryString]([Tinyint510])    AS      [Tinyint510]
      ,[dbo].[TinyInt2BinaryString]([Tinyint511])    AS      [Tinyint511]
      ,[dbo].[TinyInt2BinaryString]([Tinyint512])    AS      [Tinyint512]
      ,[dbo].[TinyInt2BinaryString]([Tinyint513])    AS      [Tinyint513]
      ,[dbo].[TinyInt2BinaryString]([Tinyint514])    AS      [Tinyint514]
      ,[dbo].[TinyInt2BinaryString]([Tinyint515])    AS      [Tinyint515]
      ,[dbo].[TinyInt2BinaryString]([Tinyint516])    AS      [Tinyint516]
      ,[dbo].[TinyInt2BinaryString]([Tinyint517])    AS      [Tinyint517]
      ,[dbo].[TinyInt2BinaryString]([Tinyint518])    AS      [Tinyint518]
      ,[dbo].[TinyInt2BinaryString]([Tinyint519])    AS      [Tinyint519]
      ,[dbo].[TinyInt2BinaryString]([Tinyint520])    AS      [Tinyint520]
      ,[dbo].[TinyInt2BinaryString]([Tinyint521])    AS      [Tinyint521]
      ,[dbo].[TinyInt2BinaryString]([Tinyint522])    AS      [Tinyint522]
      ,[dbo].[TinyInt2BinaryString]([Tinyint523])    AS      [Tinyint523]
      ,[dbo].[TinyInt2BinaryString]([Tinyint524])    AS      [Tinyint524]
      ,[dbo].[TinyInt2BinaryString]([Tinyint525])    AS      [Tinyint525]
      ,[dbo].[TinyInt2BinaryString]([Tinyint526])    AS      [Tinyint526]
      ,[dbo].[TinyInt2BinaryString]([Tinyint527])    AS      [Tinyint527]
      ,[dbo].[TinyInt2BinaryString]([Tinyint528])    AS      [Tinyint528]
      ,[dbo].[TinyInt2BinaryString]([Tinyint529])    AS      [Tinyint529]
      ,[dbo].[TinyInt2BinaryString]([Tinyint530])    AS      [Tinyint530]
      ,[dbo].[TinyInt2BinaryString]([Tinyint531])    AS      [Tinyint531]
      ,[dbo].[TinyInt2BinaryString]([Tinyint532])    AS      [Tinyint532]
      ,[dbo].[TinyInt2BinaryString]([Tinyint533])    AS      [Tinyint533]
      ,[dbo].[TinyInt2BinaryString]([Tinyint534])    AS      [Tinyint534]
      ,[dbo].[TinyInt2BinaryString]([Tinyint535])    AS      [Tinyint535]
      ,[dbo].[TinyInt2BinaryString]([Tinyint536])    AS      [Tinyint536]
      ,[dbo].[TinyInt2BinaryString]([Tinyint537])    AS      [Tinyint537]
      ,[dbo].[TinyInt2BinaryString]([Tinyint538])    AS      [Tinyint538]
      ,[dbo].[TinyInt2BinaryString]([Tinyint539])    AS      [Tinyint539]
      ,[dbo].[TinyInt2BinaryString]([Tinyint540])    AS      [Tinyint540]
      ,[dbo].[TinyInt2BinaryString]([Tinyint541])    AS      [Tinyint541]
      ,[dbo].[TinyInt2BinaryString]([Tinyint542])    AS      [Tinyint542]
      ,[dbo].[TinyInt2BinaryString]([Tinyint543])    AS      [Tinyint543]
      ,[dbo].[TinyInt2BinaryString]([Tinyint544])    AS      [Tinyint544]
      ,[dbo].[TinyInt2BinaryString]([Tinyint545])    AS      [Tinyint545]
      ,[dbo].[TinyInt2BinaryString]([Tinyint546])    AS      [Tinyint546]
      ,[dbo].[TinyInt2BinaryString]([Tinyint547])    AS      [Tinyint547]
      ,[dbo].[TinyInt2BinaryString]([Tinyint548])    AS      [Tinyint548]
      ,[dbo].[TinyInt2BinaryString]([Tinyint549])    AS      [Tinyint549]
      ,[dbo].[TinyInt2BinaryString]([Tinyint550])    AS      [Tinyint550]
      ,[dbo].[TinyInt2BinaryString]([Tinyint551])    AS      [Tinyint551]
      ,[dbo].[TinyInt2BinaryString]([Tinyint552])    AS      [Tinyint552]
      ,[dbo].[TinyInt2BinaryString]([Tinyint553])    AS      [Tinyint553]
      ,[dbo].[TinyInt2BinaryString]([Tinyint554])    AS      [Tinyint554]
      ,[dbo].[TinyInt2BinaryString]([Tinyint555])    AS      [Tinyint555]
      ,[dbo].[TinyInt2BinaryString]([Tinyint556])    AS      [Tinyint556]
      ,[dbo].[TinyInt2BinaryString]([Tinyint557])    AS      [Tinyint557]
      ,[dbo].[TinyInt2BinaryString]([Tinyint558])    AS      [Tinyint558]
      ,[dbo].[TinyInt2BinaryString]([Tinyint559])    AS      [Tinyint559]
      ,[dbo].[TinyInt2BinaryString]([Tinyint560])    AS      [Tinyint560]
      ,[dbo].[TinyInt2BinaryString]([Tinyint561])    AS      [Tinyint561]
      ,[dbo].[TinyInt2BinaryString]([Tinyint562])    AS      [Tinyint562]
      ,[dbo].[TinyInt2BinaryString]([Tinyint563])    AS      [Tinyint563]
      ,[dbo].[TinyInt2BinaryString]([Tinyint564])    AS      [Tinyint564]
      ,[dbo].[TinyInt2BinaryString]([Tinyint565])    AS      [Tinyint565]
      ,[dbo].[TinyInt2BinaryString]([Tinyint566])    AS      [Tinyint566]
      ,[dbo].[TinyInt2BinaryString]([Tinyint567])    AS      [Tinyint567]
      ,[dbo].[TinyInt2BinaryString]([Tinyint568])    AS      [Tinyint568]
      ,[dbo].[TinyInt2BinaryString]([Tinyint569])    AS      [Tinyint569]
      ,[dbo].[TinyInt2BinaryString]([Tinyint570])    AS      [Tinyint570]
      ,[dbo].[TinyInt2BinaryString]([Tinyint571])    AS      [Tinyint571]
      ,[dbo].[TinyInt2BinaryString]([Tinyint572])    AS      [Tinyint572]
      ,[dbo].[TinyInt2BinaryString]([Tinyint573])    AS      [Tinyint573]
      ,[dbo].[TinyInt2BinaryString]([Tinyint574])    AS      [Tinyint574]
      ,[dbo].[TinyInt2BinaryString]([Tinyint575])    AS      [Tinyint575]
      ,[dbo].[TinyInt2BinaryString]([Tinyint576])    AS      [Tinyint576]
      ,[dbo].[TinyInt2BinaryString]([Tinyint577])    AS      [Tinyint577]
      ,[dbo].[TinyInt2BinaryString]([Tinyint578])    AS      [Tinyint578]
      ,[dbo].[TinyInt2BinaryString]([Tinyint579])    AS      [Tinyint579]
      ,[dbo].[TinyInt2BinaryString]([Tinyint580])    AS      [Tinyint580]
      ,[dbo].[TinyInt2BinaryString]([Tinyint581])    AS      [Tinyint581]
      ,[dbo].[TinyInt2BinaryString]([Tinyint582])    AS      [Tinyint582]
      ,[dbo].[TinyInt2BinaryString]([Tinyint583])    AS      [Tinyint583]
      ,[dbo].[TinyInt2BinaryString]([Tinyint584])    AS      [Tinyint584]
      ,[dbo].[TinyInt2BinaryString]([Tinyint585])    AS      [Tinyint585]
      ,[dbo].[TinyInt2BinaryString]([Tinyint586])    AS      [Tinyint586]
      ,[dbo].[TinyInt2BinaryString]([Tinyint587])    AS      [Tinyint587]
      ,[dbo].[TinyInt2BinaryString]([Tinyint588])    AS      [Tinyint588]
      ,[dbo].[TinyInt2BinaryString]([Tinyint589])    AS      [Tinyint589]
      ,[dbo].[TinyInt2BinaryString]([Tinyint590])    AS      [Tinyint590]
      ,[dbo].[TinyInt2BinaryString]([Tinyint591])    AS      [Tinyint591]
      ,[dbo].[TinyInt2BinaryString]([Tinyint592])    AS      [Tinyint592]
      ,[dbo].[TinyInt2BinaryString]([Tinyint593])    AS      [Tinyint593]
      ,[dbo].[TinyInt2BinaryString]([Tinyint594])    AS      [Tinyint594]
      ,[dbo].[TinyInt2BinaryString]([Tinyint595])    AS      [Tinyint595]
      ,[dbo].[TinyInt2BinaryString]([Tinyint596])    AS      [Tinyint596]
      ,[dbo].[TinyInt2BinaryString]([Tinyint597])    AS      [Tinyint597]
      ,[dbo].[TinyInt2BinaryString]([Tinyint598])    AS      [Tinyint598]
      ,[dbo].[TinyInt2BinaryString]([Tinyint599])    AS      [Tinyint599]
      ,[dbo].[TinyInt2BinaryString]([Tinyint600])    AS      [Tinyint600]
      ,[dbo].[TinyInt2BinaryString]([Tinyint601])    AS      [Tinyint601]
      ,[dbo].[TinyInt2BinaryString]([Tinyint602])    AS      [Tinyint602]
      ,[dbo].[TinyInt2BinaryString]([Tinyint603])    AS      [Tinyint603]
      ,[dbo].[TinyInt2BinaryString]([Tinyint604])    AS      [Tinyint604]
      ,[dbo].[TinyInt2BinaryString]([Tinyint605])    AS      [Tinyint605]
      ,[dbo].[TinyInt2BinaryString]([Tinyint606])    AS      [Tinyint606]
      ,[dbo].[TinyInt2BinaryString]([Tinyint607])    AS      [Tinyint607]
      ,[dbo].[TinyInt2BinaryString]([Tinyint608])    AS      [Tinyint608]
      ,[dbo].[TinyInt2BinaryString]([Tinyint609])    AS      [Tinyint609]
      ,[dbo].[TinyInt2BinaryString]([Tinyint610])    AS      [Tinyint610]
      ,[dbo].[TinyInt2BinaryString]([Tinyint611])    AS      [Tinyint611]
      ,[dbo].[TinyInt2BinaryString]([Tinyint612])    AS      [Tinyint612]
      ,[dbo].[TinyInt2BinaryString]([Tinyint613])    AS      [Tinyint613]
      ,[dbo].[TinyInt2BinaryString]([Tinyint614])    AS      [Tinyint614]
      ,[dbo].[TinyInt2BinaryString]([Tinyint615])    AS      [Tinyint615]
      ,[dbo].[TinyInt2BinaryString]([Tinyint616])    AS      [Tinyint616]
      ,[dbo].[TinyInt2BinaryString]([Tinyint617])    AS      [Tinyint617]
      ,[dbo].[TinyInt2BinaryString]([Tinyint618])    AS      [Tinyint618]
      ,[dbo].[TinyInt2BinaryString]([Tinyint619])    AS      [Tinyint619]
      ,[dbo].[TinyInt2BinaryString]([Tinyint620])    AS      [Tinyint620]
      ,[dbo].[TinyInt2BinaryString]([Tinyint621])    AS      [Tinyint621]
      ,[dbo].[TinyInt2BinaryString]([Tinyint622])    AS      [Tinyint622]
      ,[dbo].[TinyInt2BinaryString]([Tinyint623])    AS      [Tinyint623]
      ,[dbo].[TinyInt2BinaryString]([Tinyint624])    AS      [Tinyint624]
      ,[dbo].[TinyInt2BinaryString]([Tinyint625])    AS      [Tinyint625]
      ,[dbo].[TinyInt2BinaryString]([Tinyint626])    AS      [Tinyint626]
      ,[dbo].[TinyInt2BinaryString]([Tinyint627])    AS      [Tinyint627]
      ,[dbo].[TinyInt2BinaryString]([Tinyint628])    AS      [Tinyint628]
      ,[dbo].[TinyInt2BinaryString]([Tinyint629])    AS      [Tinyint629]
      ,[dbo].[TinyInt2BinaryString]([Tinyint630])    AS      [Tinyint630]
      ,[dbo].[TinyInt2BinaryString]([Tinyint631])    AS      [Tinyint631]
      ,[dbo].[TinyInt2BinaryString]([Tinyint632])    AS      [Tinyint632]
      ,[dbo].[TinyInt2BinaryString]([Tinyint633])    AS      [Tinyint633]
      ,[dbo].[TinyInt2BinaryString]([Tinyint634])    AS      [Tinyint634]
      ,[dbo].[TinyInt2BinaryString]([Tinyint635])    AS      [Tinyint635]
      ,[dbo].[TinyInt2BinaryString]([Tinyint636])    AS      [Tinyint636]
      ,[dbo].[TinyInt2BinaryString]([Tinyint637])    AS      [Tinyint637]
      ,[dbo].[TinyInt2BinaryString]([Tinyint638])    AS      [Tinyint638]
      ,[dbo].[TinyInt2BinaryString]([Tinyint639])    AS      [Tinyint639]
      ,[dbo].[TinyInt2BinaryString]([Tinyint640])    AS      [Tinyint640]
      ,[dbo].[TinyInt2BinaryString]([Tinyint641])    AS      [Tinyint641]
      ,[dbo].[TinyInt2BinaryString]([Tinyint642])    AS      [Tinyint642]
      ,[dbo].[TinyInt2BinaryString]([Tinyint643])    AS      [Tinyint643]
      ,[dbo].[TinyInt2BinaryString]([Tinyint644])    AS      [Tinyint644]
      ,[dbo].[TinyInt2BinaryString]([Tinyint645])    AS      [Tinyint645]
      ,[dbo].[TinyInt2BinaryString]([Tinyint646])    AS      [Tinyint646]
      ,[dbo].[TinyInt2BinaryString]([Tinyint647])    AS      [Tinyint647]
      ,[dbo].[TinyInt2BinaryString]([Tinyint648])    AS      [Tinyint648]
      ,[dbo].[TinyInt2BinaryString]([Tinyint649])    AS      [Tinyint649]
      ,[dbo].[TinyInt2BinaryString]([Tinyint650])    AS      [Tinyint650]
      ,[dbo].[TinyInt2BinaryString]([Tinyint651])    AS      [Tinyint651]
      ,[dbo].[TinyInt2BinaryString]([Tinyint652])    AS      [Tinyint652]
      ,[dbo].[TinyInt2BinaryString]([Tinyint653])    AS      [Tinyint653]
      ,[dbo].[TinyInt2BinaryString]([Tinyint654])    AS      [Tinyint654]
      ,[dbo].[TinyInt2BinaryString]([Tinyint655])    AS      [Tinyint655]
      ,[dbo].[TinyInt2BinaryString]([Tinyint656])    AS      [Tinyint656]
      ,[dbo].[TinyInt2BinaryString]([Tinyint657])    AS      [Tinyint657]
      ,[dbo].[TinyInt2BinaryString]([Tinyint658])    AS      [Tinyint658]
      ,[dbo].[TinyInt2BinaryString]([Tinyint659])    AS      [Tinyint659]
      ,[dbo].[TinyInt2BinaryString]([Tinyint660])    AS      [Tinyint660]
      ,[dbo].[TinyInt2BinaryString]([Tinyint661])    AS      [Tinyint661]
      ,[dbo].[TinyInt2BinaryString]([Tinyint662])    AS      [Tinyint662]
      ,[dbo].[TinyInt2BinaryString]([Tinyint663])    AS      [Tinyint663]
      ,[dbo].[TinyInt2BinaryString]([Tinyint664])    AS      [Tinyint664]
      ,[dbo].[TinyInt2BinaryString]([Tinyint665])    AS      [Tinyint665]
      ,[dbo].[TinyInt2BinaryString]([Tinyint666])    AS      [Tinyint666]
      ,[dbo].[TinyInt2BinaryString]([Tinyint667])    AS      [Tinyint667]
      ,[dbo].[TinyInt2BinaryString]([Tinyint668])    AS      [Tinyint668]
      ,[dbo].[TinyInt2BinaryString]([Tinyint669])    AS      [Tinyint669]
      ,[dbo].[TinyInt2BinaryString]([Tinyint670])    AS      [Tinyint670]
      ,[dbo].[TinyInt2BinaryString]([Tinyint671])    AS      [Tinyint671]
      ,[dbo].[TinyInt2BinaryString]([Tinyint672])    AS      [Tinyint672]
      ,[dbo].[TinyInt2BinaryString]([Tinyint673])    AS      [Tinyint673]
      ,[dbo].[TinyInt2BinaryString]([Tinyint674])    AS      [Tinyint674]
      ,[dbo].[TinyInt2BinaryString]([Tinyint675])    AS      [Tinyint675]
      ,[dbo].[TinyInt2BinaryString]([Tinyint676])    AS      [Tinyint676]
      ,[dbo].[TinyInt2BinaryString]([Tinyint677])    AS      [Tinyint677]
      ,[dbo].[TinyInt2BinaryString]([Tinyint678])    AS      [Tinyint678]
      ,[dbo].[TinyInt2BinaryString]([Tinyint679])    AS      [Tinyint679]
      ,[dbo].[TinyInt2BinaryString]([Tinyint680])    AS      [Tinyint680]
      ,[dbo].[TinyInt2BinaryString]([Tinyint681])    AS      [Tinyint681]
      ,[dbo].[TinyInt2BinaryString]([Tinyint682])    AS      [Tinyint682]
      ,[dbo].[TinyInt2BinaryString]([Tinyint683])    AS      [Tinyint683]
      ,[dbo].[TinyInt2BinaryString]([Tinyint684])    AS      [Tinyint684]
      ,[dbo].[TinyInt2BinaryString]([Tinyint685])    AS      [Tinyint685]
      ,[dbo].[TinyInt2BinaryString]([Tinyint686])    AS      [Tinyint686]
      ,[dbo].[TinyInt2BinaryString]([Tinyint687])    AS      [Tinyint687]
      ,[dbo].[TinyInt2BinaryString]([Tinyint688])    AS      [Tinyint688]
      ,[dbo].[TinyInt2BinaryString]([Tinyint689])    AS      [Tinyint689]
      ,[dbo].[TinyInt2BinaryString]([Tinyint690])    AS      [Tinyint690]
      ,[dbo].[TinyInt2BinaryString]([Tinyint691])    AS      [Tinyint691]
      ,[dbo].[TinyInt2BinaryString]([Tinyint692])    AS      [Tinyint692]
      ,[dbo].[TinyInt2BinaryString]([Tinyint693])    AS      [Tinyint693]
      ,[dbo].[TinyInt2BinaryString]([Tinyint694])    AS      [Tinyint694]
      ,[dbo].[TinyInt2BinaryString]([Tinyint695])    AS      [Tinyint695]
      ,[dbo].[TinyInt2BinaryString]([Tinyint696])    AS      [Tinyint696]
      ,[dbo].[TinyInt2BinaryString]([Tinyint697])    AS      [Tinyint697]
      ,[dbo].[TinyInt2BinaryString]([Tinyint698])    AS      [Tinyint698]
      ,[dbo].[TinyInt2BinaryString]([Tinyint699])    AS      [Tinyint699]
      ,[dbo].[TinyInt2BinaryString]([Tinyint700])    AS      [Tinyint700]
      ,[dbo].[TinyInt2BinaryString]([Tinyint701])    AS      [Tinyint701]
      ,[dbo].[TinyInt2BinaryString]([Tinyint702])    AS      [Tinyint702]
      ,[dbo].[TinyInt2BinaryString]([Tinyint703])    AS      [Tinyint703]
      ,[dbo].[TinyInt2BinaryString]([Tinyint704])    AS      [Tinyint704]
      ,[dbo].[TinyInt2BinaryString]([Tinyint705])    AS      [Tinyint705]
      ,[dbo].[TinyInt2BinaryString]([Tinyint706])    AS      [Tinyint706]
      ,[dbo].[TinyInt2BinaryString]([Tinyint707])    AS      [Tinyint707]
      ,[dbo].[TinyInt2BinaryString]([Tinyint708])    AS      [Tinyint708]
      ,[dbo].[TinyInt2BinaryString]([Tinyint709])    AS      [Tinyint709]
      ,[dbo].[TinyInt2BinaryString]([Tinyint710])    AS      [Tinyint710]
      ,[dbo].[TinyInt2BinaryString]([Tinyint711])    AS      [Tinyint711]
      ,[dbo].[TinyInt2BinaryString]([Tinyint712])    AS      [Tinyint712]
      ,[dbo].[TinyInt2BinaryString]([Tinyint713])    AS      [Tinyint713]
      ,[dbo].[TinyInt2BinaryString]([Tinyint714])    AS      [Tinyint714]
      ,[dbo].[TinyInt2BinaryString]([Tinyint715])    AS      [Tinyint715]
      ,[dbo].[TinyInt2BinaryString]([Tinyint716])    AS      [Tinyint716]
      ,[dbo].[TinyInt2BinaryString]([Tinyint717])    AS      [Tinyint717]
      ,[dbo].[TinyInt2BinaryString]([Tinyint718])    AS      [Tinyint718]
      ,[dbo].[TinyInt2BinaryString]([Tinyint719])    AS      [Tinyint719]
      ,[dbo].[TinyInt2BinaryString]([Tinyint720])    AS      [Tinyint720]
      ,[dbo].[TinyInt2BinaryString]([Tinyint721])    AS      [Tinyint721]
      ,[dbo].[TinyInt2BinaryString]([Tinyint722])    AS      [Tinyint722]
      ,[dbo].[TinyInt2BinaryString]([Tinyint723])    AS      [Tinyint723]
      ,[dbo].[TinyInt2BinaryString]([Tinyint724])    AS      [Tinyint724]
      ,[dbo].[TinyInt2BinaryString]([Tinyint725])    AS      [Tinyint725]
      ,[dbo].[TinyInt2BinaryString]([Tinyint726])    AS      [Tinyint726]
      ,[dbo].[TinyInt2BinaryString]([Tinyint727])    AS      [Tinyint727]
      ,[dbo].[TinyInt2BinaryString]([Tinyint728])    AS      [Tinyint728]
      ,[dbo].[TinyInt2BinaryString]([Tinyint729])    AS      [Tinyint729]
      ,[dbo].[TinyInt2BinaryString]([Tinyint730])    AS      [Tinyint730]
      ,[dbo].[TinyInt2BinaryString]([Tinyint731])    AS      [Tinyint731]
      ,[dbo].[TinyInt2BinaryString]([Tinyint732])    AS      [Tinyint732]
      ,[dbo].[TinyInt2BinaryString]([Tinyint733])    AS      [Tinyint733]
      ,[dbo].[TinyInt2BinaryString]([Tinyint734])    AS      [Tinyint734]
      ,[dbo].[TinyInt2BinaryString]([Tinyint735])    AS      [Tinyint735]
      ,[dbo].[TinyInt2BinaryString]([Tinyint736])    AS      [Tinyint736]
      ,[dbo].[TinyInt2BinaryString]([Tinyint737])    AS      [Tinyint737]
      ,[dbo].[TinyInt2BinaryString]([Tinyint738])    AS      [Tinyint738]
      ,[dbo].[TinyInt2BinaryString]([Tinyint739])    AS      [Tinyint739]
      ,[dbo].[TinyInt2BinaryString]([Tinyint740])    AS      [Tinyint740]
      ,[dbo].[TinyInt2BinaryString]([Tinyint741])    AS      [Tinyint741]
      ,[dbo].[TinyInt2BinaryString]([Tinyint742])    AS      [Tinyint742]
      ,[dbo].[TinyInt2BinaryString]([Tinyint743])    AS      [Tinyint743]
      ,[dbo].[TinyInt2BinaryString]([Tinyint744])    AS      [Tinyint744]
      ,[dbo].[TinyInt2BinaryString]([Tinyint745])    AS      [Tinyint745]
      ,[dbo].[TinyInt2BinaryString]([Tinyint746])    AS      [Tinyint746]
      ,[dbo].[TinyInt2BinaryString]([Tinyint747])    AS      [Tinyint747]
      ,[dbo].[TinyInt2BinaryString]([Tinyint748])    AS      [Tinyint748]
      ,[dbo].[TinyInt2BinaryString]([Tinyint749])    AS      [Tinyint749]
      ,[dbo].[TinyInt2BinaryString]([Tinyint750])    AS      [Tinyint750]
      ,[dbo].[TinyInt2BinaryString]([Tinyint751])    AS      [Tinyint751]
      ,[dbo].[TinyInt2BinaryString]([Tinyint752])    AS      [Tinyint752]
      ,[dbo].[TinyInt2BinaryString]([Tinyint753])    AS      [Tinyint753]
      ,[dbo].[TinyInt2BinaryString]([Tinyint754])    AS      [Tinyint754]
      ,[dbo].[TinyInt2BinaryString]([Tinyint755])    AS      [Tinyint755]
      ,[dbo].[TinyInt2BinaryString]([Tinyint756])    AS      [Tinyint756]
      ,[dbo].[TinyInt2BinaryString]([Tinyint757])    AS      [Tinyint757]
      ,[dbo].[TinyInt2BinaryString]([Tinyint758])    AS      [Tinyint758]
      ,[dbo].[TinyInt2BinaryString]([Tinyint759])    AS      [Tinyint759]
      ,[dbo].[TinyInt2BinaryString]([Tinyint760])    AS      [Tinyint760]
      ,[dbo].[TinyInt2BinaryString]([Tinyint761])    AS      [Tinyint761]
      ,[dbo].[TinyInt2BinaryString]([Tinyint762])    AS      [Tinyint762]
      ,[dbo].[TinyInt2BinaryString]([Tinyint763])    AS      [Tinyint763]
      ,[dbo].[TinyInt2BinaryString]([Tinyint764])    AS      [Tinyint764]
      ,[dbo].[TinyInt2BinaryString]([Tinyint765])    AS      [Tinyint765]
      ,[dbo].[TinyInt2BinaryString]([Tinyint766])    AS      [Tinyint766]
      ,[dbo].[TinyInt2BinaryString]([Tinyint767])    AS      [Tinyint767]
      ,[dbo].[TinyInt2BinaryString]([Tinyint768])    AS      [Tinyint768]
      ,[dbo].[TinyInt2BinaryString]([Tinyint769])    AS      [Tinyint769]
      ,[dbo].[TinyInt2BinaryString]([Tinyint770])    AS      [Tinyint770]
      ,[dbo].[TinyInt2BinaryString]([Tinyint771])    AS      [Tinyint771]
      ,[dbo].[TinyInt2BinaryString]([Tinyint772])    AS      [Tinyint772]
      ,[dbo].[TinyInt2BinaryString]([Tinyint773])    AS      [Tinyint773]
      ,[dbo].[TinyInt2BinaryString]([Tinyint774])    AS      [Tinyint774]
      ,[dbo].[TinyInt2BinaryString]([Tinyint775])    AS      [Tinyint775]
      ,[dbo].[TinyInt2BinaryString]([Tinyint776])    AS      [Tinyint776]
      ,[dbo].[TinyInt2BinaryString]([Tinyint777])    AS      [Tinyint777]
      ,[dbo].[TinyInt2BinaryString]([Tinyint778])    AS      [Tinyint778]
      ,[dbo].[TinyInt2BinaryString]([Tinyint779])    AS      [Tinyint779]
      ,[dbo].[TinyInt2BinaryString]([Tinyint780])    AS      [Tinyint780]
      ,[dbo].[TinyInt2BinaryString]([Tinyint781])    AS      [Tinyint781]
      ,[dbo].[TinyInt2BinaryString]([Tinyint782])    AS      [Tinyint782]
      ,[dbo].[TinyInt2BinaryString]([Tinyint783])    AS      [Tinyint783]
      ,[dbo].[TinyInt2BinaryString]([Tinyint784])    AS      [Tinyint784]
      ,[dbo].[TinyInt2BinaryString]([Tinyint785])    AS      [Tinyint785]
      ,[dbo].[TinyInt2BinaryString]([Tinyint786])    AS      [Tinyint786]
      ,[dbo].[TinyInt2BinaryString]([Tinyint787])    AS      [Tinyint787]
      ,[dbo].[TinyInt2BinaryString]([Tinyint788])    AS      [Tinyint788]
      ,[dbo].[TinyInt2BinaryString]([Tinyint789])    AS      [Tinyint789]
      ,[dbo].[TinyInt2BinaryString]([Tinyint790])    AS      [Tinyint790]
      ,[dbo].[TinyInt2BinaryString]([Tinyint791])    AS      [Tinyint791]
      ,[dbo].[TinyInt2BinaryString]([Tinyint792])    AS      [Tinyint792]
      ,[dbo].[TinyInt2BinaryString]([Tinyint793])    AS      [Tinyint793]
      ,[dbo].[TinyInt2BinaryString]([Tinyint794])    AS      [Tinyint794]
      ,[dbo].[TinyInt2BinaryString]([Tinyint795])    AS      [Tinyint795]
      ,[dbo].[TinyInt2BinaryString]([Tinyint796])    AS      [Tinyint796]
      ,[dbo].[TinyInt2BinaryString]([Tinyint797])    AS      [Tinyint797]
      ,[dbo].[TinyInt2BinaryString]([Tinyint798])    AS      [Tinyint798]
      ,[dbo].[TinyInt2BinaryString]([Tinyint799])    AS      [Tinyint799]
      ,[dbo].[TinyInt2BinaryString]([Tinyint800])    AS      [Tinyint800]
      ,[dbo].[TinyInt2BinaryString]([Tinyint801])    AS      [Tinyint801]
      ,[dbo].[TinyInt2BinaryString]([Tinyint802])    AS      [Tinyint802]
      ,[dbo].[TinyInt2BinaryString]([Tinyint803])    AS      [Tinyint803]
      ,[dbo].[TinyInt2BinaryString]([Tinyint804])    AS      [Tinyint804]
      ,[dbo].[TinyInt2BinaryString]([Tinyint805])    AS      [Tinyint805]
      ,[dbo].[TinyInt2BinaryString]([Tinyint806])    AS      [Tinyint806]
      ,[dbo].[TinyInt2BinaryString]([Tinyint807])    AS      [Tinyint807]
      ,[dbo].[TinyInt2BinaryString]([Tinyint808])    AS      [Tinyint808]
      ,[dbo].[TinyInt2BinaryString]([Tinyint809])    AS      [Tinyint809]
      ,[dbo].[TinyInt2BinaryString]([Tinyint810])    AS      [Tinyint810]
      ,[dbo].[TinyInt2BinaryString]([Tinyint811])    AS      [Tinyint811]
      ,[dbo].[TinyInt2BinaryString]([Tinyint812])    AS      [Tinyint812]
      ,[dbo].[TinyInt2BinaryString]([Tinyint813])    AS      [Tinyint813]
      ,[dbo].[TinyInt2BinaryString]([Tinyint814])    AS      [Tinyint814]
      ,[dbo].[TinyInt2BinaryString]([Tinyint815])    AS      [Tinyint815]
      ,[dbo].[TinyInt2BinaryString]([Tinyint816])    AS      [Tinyint816]
      ,[dbo].[TinyInt2BinaryString]([Tinyint817])    AS      [Tinyint817]
      ,[dbo].[TinyInt2BinaryString]([Tinyint818])    AS      [Tinyint818]
      ,[dbo].[TinyInt2BinaryString]([Tinyint819])    AS      [Tinyint819]
      ,[dbo].[TinyInt2BinaryString]([Tinyint820])    AS      [Tinyint820]
      ,[dbo].[TinyInt2BinaryString]([Tinyint821])    AS      [Tinyint821]
      ,[dbo].[TinyInt2BinaryString]([Tinyint822])    AS      [Tinyint822]
      ,[dbo].[TinyInt2BinaryString]([Tinyint823])    AS      [Tinyint823]
      ,[dbo].[TinyInt2BinaryString]([Tinyint824])    AS      [Tinyint824]
      ,[dbo].[TinyInt2BinaryString]([Tinyint825])    AS      [Tinyint825]
      ,[dbo].[TinyInt2BinaryString]([Tinyint826])    AS      [Tinyint826]
      ,[dbo].[TinyInt2BinaryString]([Tinyint827])    AS      [Tinyint827]
      ,[dbo].[TinyInt2BinaryString]([Tinyint828])    AS      [Tinyint828]
      ,[dbo].[TinyInt2BinaryString]([Tinyint829])    AS      [Tinyint829]
      ,[dbo].[TinyInt2BinaryString]([Tinyint830])    AS      [Tinyint830]
      ,[dbo].[TinyInt2BinaryString]([Tinyint831])    AS      [Tinyint831]
      ,[dbo].[TinyInt2BinaryString]([Tinyint832])    AS      [Tinyint832]
      ,[dbo].[TinyInt2BinaryString]([Tinyint833])    AS      [Tinyint833]
      ,[dbo].[TinyInt2BinaryString]([Tinyint834])    AS      [Tinyint834]
      ,[dbo].[TinyInt2BinaryString]([Tinyint835])    AS      [Tinyint835]
      ,[dbo].[TinyInt2BinaryString]([Tinyint836])    AS      [Tinyint836]
      ,[dbo].[TinyInt2BinaryString]([Tinyint837])    AS      [Tinyint837]
      ,[dbo].[TinyInt2BinaryString]([Tinyint838])    AS      [Tinyint838]
      ,[dbo].[TinyInt2BinaryString]([Tinyint839])    AS      [Tinyint839]
      ,[dbo].[TinyInt2BinaryString]([Tinyint840])    AS      [Tinyint840]
      ,[dbo].[TinyInt2BinaryString]([Tinyint841])    AS      [Tinyint841]
      ,[dbo].[TinyInt2BinaryString]([Tinyint842])    AS      [Tinyint842]
      ,[dbo].[TinyInt2BinaryString]([Tinyint843])    AS      [Tinyint843]
      ,[dbo].[TinyInt2BinaryString]([Tinyint844])    AS      [Tinyint844]
      ,[dbo].[TinyInt2BinaryString]([Tinyint845])    AS      [Tinyint845]
      ,[dbo].[TinyInt2BinaryString]([Tinyint846])    AS      [Tinyint846]
      ,[dbo].[TinyInt2BinaryString]([Tinyint847])    AS      [Tinyint847]
      ,[dbo].[TinyInt2BinaryString]([Tinyint848])    AS      [Tinyint848]
      ,[dbo].[TinyInt2BinaryString]([Tinyint849])    AS      [Tinyint849]
      ,[dbo].[TinyInt2BinaryString]([Tinyint850])    AS      [Tinyint850]
      ,[dbo].[TinyInt2BinaryString]([Tinyint851])    AS      [Tinyint851]
      ,[dbo].[TinyInt2BinaryString]([Tinyint852])    AS      [Tinyint852]
      ,[dbo].[TinyInt2BinaryString]([Tinyint853])    AS      [Tinyint853]
      ,[dbo].[TinyInt2BinaryString]([Tinyint854])    AS      [Tinyint854]
      ,[dbo].[TinyInt2BinaryString]([Tinyint855])    AS      [Tinyint855]
      ,[dbo].[TinyInt2BinaryString]([Tinyint856])    AS      [Tinyint856]
      ,[dbo].[TinyInt2BinaryString]([Tinyint857])    AS      [Tinyint857]
      ,[dbo].[TinyInt2BinaryString]([Tinyint858])    AS      [Tinyint858]
      ,[dbo].[TinyInt2BinaryString]([Tinyint859])    AS      [Tinyint859]
      ,[dbo].[TinyInt2BinaryString]([Tinyint860])    AS      [Tinyint860]
      ,[dbo].[TinyInt2BinaryString]([Tinyint861])    AS      [Tinyint861]
      ,[dbo].[TinyInt2BinaryString]([Tinyint862])    AS      [Tinyint862]
      ,[dbo].[TinyInt2BinaryString]([Tinyint863])    AS      [Tinyint863]
      ,[dbo].[TinyInt2BinaryString]([Tinyint864])    AS      [Tinyint864]
      ,[dbo].[TinyInt2BinaryString]([Tinyint865])    AS      [Tinyint865]
      ,[dbo].[TinyInt2BinaryString]([Tinyint866])    AS      [Tinyint866]
      ,[dbo].[TinyInt2BinaryString]([Tinyint867])    AS      [Tinyint867]
      ,[dbo].[TinyInt2BinaryString]([Tinyint868])    AS      [Tinyint868]
      ,[dbo].[TinyInt2BinaryString]([Tinyint869])    AS      [Tinyint869]
      ,[dbo].[TinyInt2BinaryString]([Tinyint870])    AS      [Tinyint870]
      ,[dbo].[TinyInt2BinaryString]([Tinyint871])    AS      [Tinyint871]
      ,[dbo].[TinyInt2BinaryString]([Tinyint872])    AS      [Tinyint872]
      ,[dbo].[TinyInt2BinaryString]([Tinyint873])    AS      [Tinyint873]
      ,[dbo].[TinyInt2BinaryString]([Tinyint874])    AS      [Tinyint874]
      ,[dbo].[TinyInt2BinaryString]([Tinyint875])    AS      [Tinyint875]
      ,[dbo].[TinyInt2BinaryString]([Tinyint876])    AS      [Tinyint876]
      ,[dbo].[TinyInt2BinaryString]([Tinyint877])    AS      [Tinyint877]
      ,[dbo].[TinyInt2BinaryString]([Tinyint878])    AS      [Tinyint878]
      ,[dbo].[TinyInt2BinaryString]([Tinyint879])    AS      [Tinyint879]
      ,[dbo].[TinyInt2BinaryString]([Tinyint880])    AS      [Tinyint880]
      ,[dbo].[TinyInt2BinaryString]([Tinyint881])    AS      [Tinyint881]
      ,[dbo].[TinyInt2BinaryString]([Tinyint882])    AS      [Tinyint882]
      ,[dbo].[TinyInt2BinaryString]([Tinyint883])    AS      [Tinyint883]
      ,[dbo].[TinyInt2BinaryString]([Tinyint884])    AS      [Tinyint884]
      ,[dbo].[TinyInt2BinaryString]([Tinyint885])    AS      [Tinyint885]
      ,[dbo].[TinyInt2BinaryString]([Tinyint886])    AS      [Tinyint886]
      ,[dbo].[TinyInt2BinaryString]([Tinyint887])    AS      [Tinyint887]
      ,[dbo].[TinyInt2BinaryString]([Tinyint888])    AS      [Tinyint888]
      ,[dbo].[TinyInt2BinaryString]([Tinyint889])    AS      [Tinyint889]
      ,[dbo].[TinyInt2BinaryString]([Tinyint890])    AS      [Tinyint890]
      ,[dbo].[TinyInt2BinaryString]([Tinyint891])    AS      [Tinyint891]
      ,[dbo].[TinyInt2BinaryString]([Tinyint892])    AS      [Tinyint892]
      ,[dbo].[TinyInt2BinaryString]([Tinyint893])    AS      [Tinyint893]
      ,[dbo].[TinyInt2BinaryString]([Tinyint894])    AS      [Tinyint894]
      ,[dbo].[TinyInt2BinaryString]([Tinyint895])    AS      [Tinyint895]
      ,[dbo].[TinyInt2BinaryString]([Tinyint896])    AS      [Tinyint896]
      ,[dbo].[TinyInt2BinaryString]([Tinyint897])    AS      [Tinyint897]
      ,[dbo].[TinyInt2BinaryString]([Tinyint898])    AS      [Tinyint898]
      ,[dbo].[TinyInt2BinaryString]([Tinyint899])    AS      [Tinyint899]
      ,[dbo].[TinyInt2BinaryString]([Tinyint900])    AS      [Tinyint900]
      ,[dbo].[TinyInt2BinaryString]([Tinyint901])    AS      [Tinyint901]
      ,[dbo].[TinyInt2BinaryString]([Tinyint902])    AS      [Tinyint902]
      ,[dbo].[TinyInt2BinaryString]([Tinyint903])    AS      [Tinyint903]
      ,[dbo].[TinyInt2BinaryString]([Tinyint904])    AS      [Tinyint904]
      ,[dbo].[TinyInt2BinaryString]([Tinyint905])    AS      [Tinyint905]
      ,[dbo].[TinyInt2BinaryString]([Tinyint906])    AS      [Tinyint906]
      ,[dbo].[TinyInt2BinaryString]([Tinyint907])    AS      [Tinyint907]
      ,[dbo].[TinyInt2BinaryString]([Tinyint908])    AS      [Tinyint908]
      ,[dbo].[TinyInt2BinaryString]([Tinyint909])    AS      [Tinyint909]
      ,[dbo].[TinyInt2BinaryString]([Tinyint910])    AS      [Tinyint910]
      ,[dbo].[TinyInt2BinaryString]([Tinyint911])    AS      [Tinyint911]
      ,[dbo].[TinyInt2BinaryString]([Tinyint912])    AS      [Tinyint912]
      ,[dbo].[TinyInt2BinaryString]([Tinyint913])    AS      [Tinyint913]
      ,[dbo].[TinyInt2BinaryString]([Tinyint914])    AS      [Tinyint914]
      ,[dbo].[TinyInt2BinaryString]([Tinyint915])    AS      [Tinyint915]
      ,[dbo].[TinyInt2BinaryString]([Tinyint916])    AS      [Tinyint916]
      ,[dbo].[TinyInt2BinaryString]([Tinyint917])    AS      [Tinyint917]
      ,[dbo].[TinyInt2BinaryString]([Tinyint918])    AS      [Tinyint918]
      ,[dbo].[TinyInt2BinaryString]([Tinyint919])    AS      [Tinyint919]
      ,[dbo].[TinyInt2BinaryString]([Tinyint920])    AS      [Tinyint920]
      ,[dbo].[TinyInt2BinaryString]([Tinyint921])    AS      [Tinyint921]
      ,[dbo].[TinyInt2BinaryString]([Tinyint922])    AS      [Tinyint922]
      ,[dbo].[TinyInt2BinaryString]([Tinyint923])    AS      [Tinyint923]
      ,[dbo].[TinyInt2BinaryString]([Tinyint924])    AS      [Tinyint924]
      ,[dbo].[TinyInt2BinaryString]([Tinyint925])    AS      [Tinyint925]
      ,[dbo].[TinyInt2BinaryString]([Tinyint926])    AS      [Tinyint926]
      ,[dbo].[TinyInt2BinaryString]([Tinyint927])    AS      [Tinyint927]
      ,[dbo].[TinyInt2BinaryString]([Tinyint928])    AS      [Tinyint928]
      ,[dbo].[TinyInt2BinaryString]([Tinyint929])    AS      [Tinyint929]
      ,[dbo].[TinyInt2BinaryString]([Tinyint930])    AS      [Tinyint930]
      ,[dbo].[TinyInt2BinaryString]([Tinyint931])    AS      [Tinyint931]
      ,[dbo].[TinyInt2BinaryString]([Tinyint932])    AS      [Tinyint932]
      ,[dbo].[TinyInt2BinaryString]([Tinyint933])    AS      [Tinyint933]
      ,[dbo].[TinyInt2BinaryString]([Tinyint934])    AS      [Tinyint934]
      ,[dbo].[TinyInt2BinaryString]([Tinyint935])    AS      [Tinyint935]
      ,[dbo].[TinyInt2BinaryString]([Tinyint936])    AS      [Tinyint936]
      ,[dbo].[TinyInt2BinaryString]([Tinyint937])    AS      [Tinyint937]
      ,[dbo].[TinyInt2BinaryString]([Tinyint938])    AS      [Tinyint938]
      ,[dbo].[TinyInt2BinaryString]([Tinyint939])    AS      [Tinyint939]
      ,[dbo].[TinyInt2BinaryString]([Tinyint940])    AS      [Tinyint940]
      ,[dbo].[TinyInt2BinaryString]([Tinyint941])    AS      [Tinyint941]
      ,[dbo].[TinyInt2BinaryString]([Tinyint942])    AS      [Tinyint942]
      ,[dbo].[TinyInt2BinaryString]([Tinyint943])    AS      [Tinyint943]
      ,[dbo].[TinyInt2BinaryString]([Tinyint944])    AS      [Tinyint944]
      ,[dbo].[TinyInt2BinaryString]([Tinyint945])    AS      [Tinyint945]
      ,[dbo].[TinyInt2BinaryString]([Tinyint946])    AS      [Tinyint946]
      ,[dbo].[TinyInt2BinaryString]([Tinyint947])    AS      [Tinyint947]
      ,[dbo].[TinyInt2BinaryString]([Tinyint948])    AS      [Tinyint948]
      ,[dbo].[TinyInt2BinaryString]([Tinyint949])    AS      [Tinyint949]
      ,[dbo].[TinyInt2BinaryString]([Tinyint950])    AS      [Tinyint950]
      ,[dbo].[TinyInt2BinaryString]([Tinyint951])    AS      [Tinyint951]
      ,[dbo].[TinyInt2BinaryString]([Tinyint952])    AS      [Tinyint952]
      ,[dbo].[TinyInt2BinaryString]([Tinyint953])    AS      [Tinyint953]
      ,[dbo].[TinyInt2BinaryString]([Tinyint954])    AS      [Tinyint954]
      ,[dbo].[TinyInt2BinaryString]([Tinyint955])    AS      [Tinyint955]
      ,[dbo].[TinyInt2BinaryString]([Tinyint956])    AS      [Tinyint956]
      ,[dbo].[TinyInt2BinaryString]([Tinyint957])    AS      [Tinyint957]
      ,[dbo].[TinyInt2BinaryString]([Tinyint958])    AS      [Tinyint958]
      ,[dbo].[TinyInt2BinaryString]([Tinyint959])    AS      [Tinyint959]
      ,[dbo].[TinyInt2BinaryString]([Tinyint960])    AS      [Tinyint960]
      ,[dbo].[TinyInt2BinaryString]([Tinyint961])    AS      [Tinyint961]
      ,[dbo].[TinyInt2BinaryString]([Tinyint962])    AS      [Tinyint962]
      ,[dbo].[TinyInt2BinaryString]([Tinyint963])    AS      [Tinyint963]
      ,[dbo].[TinyInt2BinaryString]([Tinyint964])    AS      [Tinyint964]
      ,[dbo].[TinyInt2BinaryString]([Tinyint965])    AS      [Tinyint965]
      ,[dbo].[TinyInt2BinaryString]([Tinyint966])    AS      [Tinyint966]
      ,[dbo].[TinyInt2BinaryString]([Tinyint967])    AS      [Tinyint967]
      ,[dbo].[TinyInt2BinaryString]([Tinyint968])    AS      [Tinyint968]
      ,[dbo].[TinyInt2BinaryString]([Tinyint969])    AS      [Tinyint969]
      ,[dbo].[TinyInt2BinaryString]([Tinyint970])    AS      [Tinyint970]
      ,[dbo].[TinyInt2BinaryString]([Tinyint971])    AS      [Tinyint971]
      ,[dbo].[TinyInt2BinaryString]([Tinyint972])    AS      [Tinyint972]
      ,[dbo].[TinyInt2BinaryString]([Tinyint973])    AS      [Tinyint973]
      ,[dbo].[TinyInt2BinaryString]([Tinyint974])    AS      [Tinyint974]
      ,[dbo].[TinyInt2BinaryString]([Tinyint975])    AS      [Tinyint975]
      ,[dbo].[TinyInt2BinaryString]([Tinyint976])    AS      [Tinyint976]
      ,[dbo].[TinyInt2BinaryString]([Tinyint977])    AS      [Tinyint977]
      ,[dbo].[TinyInt2BinaryString]([Tinyint978])    AS      [Tinyint978]
      ,[dbo].[TinyInt2BinaryString]([Tinyint979])    AS      [Tinyint979]
      ,[dbo].[TinyInt2BinaryString]([Tinyint980])    AS      [Tinyint980]
      ,[dbo].[TinyInt2BinaryString]([Tinyint981])    AS      [Tinyint981]
      ,[dbo].[TinyInt2BinaryString]([Tinyint982])    AS      [Tinyint982]
      ,[dbo].[TinyInt2BinaryString]([Tinyint983])    AS      [Tinyint983]
      ,[dbo].[TinyInt2BinaryString]([Tinyint984])    AS      [Tinyint984]
      ,[dbo].[TinyInt2BinaryString]([Tinyint985])    AS      [Tinyint985]
      ,[dbo].[TinyInt2BinaryString]([Tinyint986])    AS      [Tinyint986]
      ,[dbo].[TinyInt2BinaryString]([Tinyint987])    AS      [Tinyint987]
      ,[dbo].[TinyInt2BinaryString]([Tinyint988])    AS      [Tinyint988]
      ,[dbo].[TinyInt2BinaryString]([Tinyint989])    AS      [Tinyint989]
      ,[dbo].[TinyInt2BinaryString]([Tinyint990])    AS      [Tinyint990]
      ,[dbo].[TinyInt2BinaryString]([Tinyint991])    AS      [Tinyint991]
      ,[dbo].[TinyInt2BinaryString]([Tinyint992])    AS      [Tinyint992]
      ,[dbo].[TinyInt2BinaryString]([Tinyint993])    AS      [Tinyint993]
      ,[dbo].[TinyInt2BinaryString]([Tinyint994])    AS      [Tinyint994]
      ,[dbo].[TinyInt2BinaryString]([Tinyint995])    AS      [Tinyint995]
      ,[dbo].[TinyInt2BinaryString]([Tinyint996])    AS      [Tinyint996]
      ,[dbo].[TinyInt2BinaryString]([Tinyint997])    AS      [Tinyint997]
      ,[dbo].[TinyInt2BinaryString]([Tinyint998])    AS      [Tinyint998]
      ,[dbo].[TinyInt2BinaryString]([Tinyint999])    AS      [Tinyint999]
      ,[dbo].[TinyInt2BinaryString]([Tinyint1000])    AS      [Tinyint1000]
  FROM [gann].[dbo].[TinyInt]
  WHERE ID = @ID
)
